{% extends 'base.html.twig' %}

{% block title %}Telefono index{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}

    <div class="titulo">
 <h1>Sistema de gestión académica IS</h1>
    </div>

      <div class="barra">
        <a class="boton-home" href={{path('app_homepage')}} > <img src="{{asset('media/casita.png')}}"> </a>
        <a class="btn btn-lg" href={{path('app_institutos')}} >Institutos</a>
         <a class="btn btn-lg" href={{path('app_carreras')}} >Carreras</a>
        <a class="btn btn-lg" href={{path('app_preinsc')}} >Preinscripción</a>
        <a class="btn btn-lg" href={{path('app_plataforma')}} >Acceso a la plataforma</a>
    </div>
    <h1>Telefono index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Instituto</th>
                <th>Detalle</th>
                <th>Número</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telefono in telefonos %}
            <tr>
                <td>{{ telefono.id }}</td>
                <td>{{ telefono.instituto }}</td>
                <td>{{ telefono.detalle }}</td>
                <td>{{ telefono.numero }}</td>
                <td>
                    <a href="{{ path('app_telefono_show', {'id': telefono.id}) }}">show</a>
                    <a href="{{ path('app_telefono_edit', {'id': telefono.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_telefono_new') }}">Create new</a>
{% endblock %}
