{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}

    <link href="{{asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>
   
{% endblock %}

{% block body %}




   <div class="titulo">
 <h1>Sistema de gestión académica IS</h1>
    </div>

     <div class="barra">
        <a class="boton-home" href={{path('app_homepage')}} > <img src="{{asset('media/casita.png')}}"> </a>
        <a class="btn btn-lg" href={{path('app_institutos')}} >Institutos</a>
         <a class="btn btn-lg" href={{path('app_carreras')}} >Carreras</a>
        <a class="btn btn-lg" href={{path('app_preinsc')}} >Preinscripción</a>
        <a class="btn btn-lg" href={{path('app_plataforma')}} >Acceso a la plataforma</a>
    </div>
    <p>
    <center> <div class="contenido">
    <h1>BIENVENIDOS AL NUEVO SISTEMA FIST</h1>
    <p> Nueva version mejorada UPDATE: 01/11/2023
    
    <pre>
   
    <li>Encontraran actualizaciones de funcionalidades de Sorting y Busqueda de institutos</l>

    <li>Agregamos modulos y se espera que quede funcionando totalmente en su proxima entrevista (Estado: en desarrollo).</l>

    <li>Control de errores para las vistas cuando estan vacias o rompen (Estado: en desarrollo)</l>

    <li>Realizamos fix (reparaciones) en general de redireccionamiento y estetica.</l>
    
    
    </pre>
    </div></center>

    <footer>
        <h5>Sistema de gestión académica - @2023</h5>
    </footer>

{% endblock %}
