{% extends 'base.html.twig' %}

{% block title %}Preinscripción{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}
<div class="titulo">
 <h1>Sistema de gestión académica IS</h1>
    </div>
      <div class="barra">
        <a class="boton-home" href={{path('app_homepage')}} > <img src="{{asset('media/casita.png')}}"> </a>
        <a class="btn btn-lg" href={{path('app_institutos')}} >Institutos</a>
         <a class="btn btn-lg" href={{path('app_carreras')}} >Carreras</a>
        <a class="btn btn-lg" href={{path('app_preinsc')}} >Preinscripción</a>
        <a class="btn btn-lg" href={{path('app_plataforma')}} >Acceso a la plataforma</a>
    </div>
<center><div class=vacios>
<h1>EN CONSTRUCCIÓN! DISCULPE LAS MOLESTIAS</h1>
<img src="{{ asset('media/problemasTecnicos.JPG') }}" width="350" height="350" alt="Imagen de problemas técnicos">
</div>
</center>


{% endblock %}