{# templates/search/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Búsqueda de Institutos{% endblock %}

{% block body %}
    

<div class="container">
<h1><center>Búsqueda de Institutos</center></h1>
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="{{ path('app_search') }}" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="query" value="{{ query }}" class="form-control custom-width-input" placeholder="Buscar por nombre">
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-5" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





    {% if message is defined %}
        <p>{{ message }}</p>
    {% else %}
        {% if institutos is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre del Instituto</th>
                        <th>Direccion</th>
                        <th>Localidad</th>
                        <th>Telefono</th>
                        <th>Correo Electronico</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instituto in institutos %}
                        <tr>
                            <td>{{ instituto.nombre }}</td>
                            <td>{{ instituto.direccion }}</td>
                            <td>{{ instituto.localidad }}</td>
                            <td>{{ instituto.telefono }}</td>
                            <td>{{ instituto.mail }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No se encontraron institutos.</p>
        {% endif %}
    {% endif %}
{% endblock %}




