{% extends 'base.html.twig' %}

{% block title %}
    FIST
{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}

   <div class="titulo">
 <h1>Sistema de gestión académica IS</h1>
    </div>

    <div class="barra">
        <a class="boton-home" href={{path('app_homepage')}} > <img src="{{asset('media/casita.png')}}"> </a>
        <a class="btn btn-lg" href={{path('app_institutos')}} >Institutos</a>
        <a class="btn btn-lg" href={{path('app_preinsc')}} >Preinscripción</a>
        <a class="btn btn-lg" href={{path('app_plataforma')}} >Acceso a la plataforma</a>
    </div>
    <h1>Carrera</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrera.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ carrera.nombre }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ carrera.duracion }}</td>
            </tr>
            <tr>
                <th>Cant_asignaturas</th>
                <td>{{ carrera.cantAsignaturas }}</td>
            </tr>
            <tr>
                <th>Modo</th>
                <td>{{ carrera.modo }}</td>
            </tr>
            <tr>
                <th>Resolucion</th>
                <td>{{ carrera.resolucion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carrera_index') }}">back to list</a>

    <a href="{{ path('app_carrera_edit', {'id': carrera.id}) }}">edit</a>

    {{ include('carrera/_delete_form.html.twig') }}
{% endblock %}
