{# templates/search/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
  <h1>Search Results</h1>

  <form action="{{ path('app_search') }}" method="POST" data-id="{{ instituto.id }}">
    <input type="text" name="keyword" placeholder="Enter keyword">
    <button type="submit">Search</button>
  </form>

  {% if results is not empty %}
    <h2>Results:</h2>
    <ul>
      {% for result in results %}
        <li>ID: {{ result.id }}</li>
        <li>Nombre: {{ result.nombre }}</li>
        <li>Duración: {{ result.duracion }}</li>
        <li>Cantidad de Asignaturas: {{ result.cant_asignaturas }}</li>
        <li>Modo: {{ result.modo }}</li>
        <li>Resolución: {{ result.resolucion }}</li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>No results found.</p>
  {% endif %}
{% endblock %}