{% extends 'base.html.twig' %}

{% block title %}New Sede{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}

    <div class="titulo">
               <a href={{path('app_homepage')}} > <h1>Sistema de gestión académica IS</h1></a>1>Sistema de gestión académica IS</h1></a>1>Sistema de gestión académica IS</h1></a>1>Sistema de gestión académica IS</h1></a>
    </div>

     <div class="barra">
        <a class="boton-home" href={{path('app_homepage')}} > <img src="{{asset('media/casita.png')}}"> </a>
        <a class="btn btn-lg" href={{path('app_institutos')}} >Institutos</a>
        <a class="btn btn-lg" href={{path('app_preinsc')}} >Preinscripción</a>
        <a class="btn btn-lg" href={{path('app_plataforma')}} >Acceso a la plataforma</a>
    </div>
    <h1>Create new Sede</h1>

    {{ include('sede/_form.html.twig') }}

    <a href="{{ path('app_sede_index') }}">back to list</a>
{% endblock %}
